@charset "UTF-8";

.section-5 {
    background-color: $primary-bg;
    color: $drkBrown;
}

.section-5 .container {
    display: flex;
    flex-direction: column;
}

.section-5-bottom {
    background-color: orange;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.section-5-bottom-cell {
    width: 33.33%;
}

.section-5-bottom-cell .bottom-cell-wrapper {
    justify-content: center;
}

.section-5-bottom-cell a {
    color: $white;
}

.phone-icon {
    width: 80px;
}

.call-us {
    margin: 10px 0 0 0;
    font-size: 3rem;
}

/*h3*/.footer__featured {
    margin-top: auto;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}
