@charset "UTF-8";

.section-5 {
    background-color: $primary-bg;
    padding-top: 0 !important;
    color: $drkBrown;
}


.section-5 h2.animated-item + a {
        border: 0px solid red;
        color: $notice;
        display: inline-block;
        position: relative;
        //bottom: 1rem !important;
        left: 50%;
        transform: translateX(-50%);
        //font-size: 1.75rem;
        font-size: 1.15rem;
        margin-top: 22.5%;
        //top: 14%;
        //top: 18%;
        transform: translateX(-50%);
        font-weight: bold;
        text-transform: uppercase;
    }