@charset "UTF-8";
/* TEMP! TEMP! */
.section-3 {
    background-color: $drkBrown;
    color: $white;
    padding-left: 1.5%;
    padding-right: 1.5%;
    //overflow: visible !important;
}

.customer__title {
    color: $white;
}
.section-3 h2.animated-item + a {
        border: 0px solid red;
        color: $notice;
        display: inline-block;
        position: relative;
        //bottom: 1rem !important;
        left: 50%;
        transform: translateX(-50%);
        //font-size: 1.75rem;
        font-size: 1.15rem;
        margin-top: 22.5%;
        //top: 14%;
        //top: 18%;
        transform: translateX(-50%);
        font-weight: bold;
        text-transform: uppercase;
    }

.about__main {
	float: right;
	margin: .6em;
}

@media (min-width: 601px) {
    .section-3 h2.animated-item + a {
        margin-top: 12.5%;
    }

}

@media (min-width: 992px) {
    .section-3 h2.animated-item + a {
        margin-top: 9%;
    }

}


