@charset "UTF-8";

.section-4 {
    background-color: $primary-blue;
    color: $white;
    padding-left: 1.5%;
    padding-right: 1.5%;
    //overflow: visible !important;
}

.customer__title {
    color: $white;
}
.section-4 h2.animated-item + a {
        border: 0px solid red;
        color: $notice;
        display: block;
        margin: 0 auto 1rem auto;
        position: relative;
        font-size: 1.15rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

.customer__reviews-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 1rem;
    //padding-top: 2.5rem;
    //top: 10%;
    //top: 17.5%;
}

/*img*/.google_review_user {
    border: 6px solid $highlight;
    border-radius: 50%;    
    position: absolute;
    top: .5rem;
    left: .75rem;
    transform: scale(.85);
    transform-origin: top left;
}  

.review-item {
    border: 2px solid #fefeff;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding:.5rem .75% 1rem .75rem;
    position: relative;
    width: 100%;
    
    }

    .review-meta {
        //border: 1px solid red;
        display: flex;
        flex-flow: column;
        margin-left: auto;
        width: 72%;
    }

    .review-meta span {
        text-align: right;
    }

        .review-author {
            float: right;
            font-size: 1.65rem;
            white-space: normal;
        }
        .review-sep { display: none; }
        .review-date { font-size: 1.25rem; }

.review-stars ul {
    list-style-type: none;
    text-align: right;
}

.review-stars ul li {
    display: inline-block;
    margin-left: 6px;
}

p.review-text {
    color: $white;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 100%;
}

/*
.star:before {
  content: "\f005";

  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.star {
    color: $highlight;
}

#schema {
    clear: both;
    font-size: 1rem;
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
}

@media (max-width: 600px) {
    .customer__reviews-wrapper > div:nth-of-type(3),
    .customer__reviews-wrapper > div:nth-of-type(4) {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 991px) {
    .customer__reviews-wrapper > div:nth-of-type(4) {
        display: none;
    }
    .review-item {
        margin: 0 10px;
        width: 50%;
    }
}

@media (min-width: 601px) {
    /*img*/.google_review_user {
        transform: scale(.675);
    }
    .customer__reviews-wrapper {
        flex-direction: row;
    }    
    .review-author {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
/*img*/.google_review_user {
        transform: scale(.85);
    }
    .review-author {
        font-size: 1.65rem;
    }
}

@media (min-width: 992px) {
    /*img*/.google_review_user {
        transform: scale(.65);
        //left: -10px;
        //top: -10px;
    }
    .review-item {
        margin: 0 10px;
        width: 33.33%;
    }
}

@media (min-width: 1024px) {
    /*img*/.google_review_user {
        transform: scale(.8);
    }
}


