@charset "UTF-8";

.fp-viewing-section-3 .header {
    border-bottom: 1px solid rgba(255,255,239, 0.5);
}

.section-3 {
    background-color: $drkBrown;
    color: $white;
    padding-left: 1.5%;
    padding-right: 1.5%;
    //overflow: visible !important;
}

.container {
    padding-top: .001em;    
}

.about-us__wrapper {
    margin: 0 auto;
    width: 80%;
}

.about__title {
    color: $white;
    top: 0%;
}

.about__main {
    border: 2px solid $white;
    display:block;
    //margin: 0 auto 5% auto;
    //width: 90%
    margin:0 5px 5px 0;
    float: left;
    width: 50%;
}

.section-3 p {
    margin: 0 auto 20px auto;
    
}

@media (min-width: 414px) and (orientation: portrait) {
    .about__main {
        width: 80%;
    }
}

@media (min-width: 576px) {
    .about__main {
        width: 70%;
    }   
}
@media (min-width: 768px) {
    .about__main {
        float: left;
        width: 45%;
        margin-right: 1rem;
    }
    
    .section-3 p {
        width: auto;    
    }



}


