@charset "UTF-8";

.section-3 {
    background-color: $primary-blue;
    color: $white;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.customer__title {
    color: $white;
}

.customer__reviews-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    top: 17.5%;
}

.customer__review {
    border: 2px solid $white;
    border-radius: 6px;  
    overflow: hidden; 
    padding-top: .5rem;
    padding-bottom: 1rem;
}
    
.customer__review:nth-child(3) {
    display: none;
}

    .customer__headshot-name {
        display: flex;
        flex-flow: row;
    }

    .customer__headshot {
        width: 25%;
    }

        .customer__pic {
            width: 100%;
        }

    .customer__name {
        font-size: 1.4rem;
        width: 75%;
    }    
        .customer__review-content {
            //font-size: .85rem;*/
        }

    .customer__stars-wrapper {
        height: 30px;
        overflow: none;
    }
        .customer__stars {
            width: 40%;
            height: 30%;
        }

@media screen and (orientation: portrait) {
    .customer__reviews-wrapper {
        flex-direction: column;
    }
    .customer__review:nth-child(3) {
        display: none;
    }
    .customer__review {
        height: 37.5vh;
        margin-bottom: 5px;
        
        p {
            font-size: 60%;
        }
    }
}

@media screen and (orientation: landscape) { 
    .customer__reviews-wrapper {
        flex-direction: row;
    }
    .customer__review {
        margin: 0 1%;
    }
}

@media screen and (min-width: 768px) {
    .customer__review {
        flex:1 50%; /* 2 per flex row */
    }
     
}

@media screen and (min-width: 992px) {
    .customer__review {
        flex:1 33.33%; /* 2 per flex row */
    }
    .customer__review:nth-child(3) {
        display: block;
    }
}

       