@charset "UTF-8";

.section-1 {
    background-color: $paleYellow;
}

.section-1-top {
    display: flex;
    //height: calc(80vh - 30px);
    height:50vh;
    flex-flow: column;
    justify-content: flex-end;
    margin-top: -30px;
    overflow: hidden;
    padding-top: 30px;
    position: relative;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0 auto;
}

.logo path {
    fill: $primary-dark-color !important;
}

.address-wrapper {
    color: $white;
    margin-top: auto;
    text-align: center;
    padding:4px 0;
    width: 100%;
}
    .address {
        color: $primary-dark-color;
        font-family: 'Domine', serif;
        font-size: 2.6rem;
        letter-spacing: 1px;
        font-weight: bold;
    }

.section-1-bottom {
    display:flex;
    flex-flow: column;
    height: 50vh;
}

.section-1-bottom-cell {
    height: 33.33%;
    width: 100%;
    padding: .35%;
}

.section-1-bottom-cell-1 {
    background-color: $primary-red;
}

.section-1-bottom-cell-2 {
    background-color: $primary-blue;
}

.bottom-cell-wrapper {
    border-width: 2px;
    border-style: solid;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-start;
    padding-top: 1rem;
}

.bottom-cell-wrapper-1,
.bottom-cell-wrapper-2 {
    border-color: $white;
} 

.bottom-cell-wrapper-2 {
    padding-bottom: .85rem;
}

.key-icon {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.general-lock-notice {
    color: $white;
    font-family: 'Domine', serif;
    font-size: 2rem;
    text-align: center;
    width: 70%;
}

.antique-gun {
    width: 270px;
}

.gunsmith-link {
    color: $white;
    font-family: 'Artist-Modern', sans-serif;
    font-size: 4.5rem;
    margin-top: -25px;

    a {
        color: $white;
    }
}

.gunsmith-hand-link {
    border: 0px solid red;
}

.gunsmith-hand {
    width: 85px;
}

.div-wrapper {
    color: #fff;
    font-size: 1.2rem;    
}

.no-auto-wrapper {
    border: 0px solid white;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    align-items: center;
}

.no-auto {
    color: $white;
    font-family: 'Domine';
    font-size: 1.8rem;
}

.no-car-icon {
    width: 60px;
}

@media (min-width: 768px) {
    .section-1-top {
        height:60vh;
        justify-content: center;
    }

    .logo-wrapper {
        margin-top: 20px;
    }

    .logo {
        width: 60%;
    }
    
    .section-1-bottom {
        flex-flow: row;
        height: 40vh;
    }

    .section-1-bottom-cell {
        height: 100%;
        width: 50%;
    }     
}