@charset "UTF-8";

.section-1 {
    background-color: $primary-bg;
    padding-top: 0 !important;
}

.section-1-top {
    display: flex;
    height:40vh;
    flex-flow: column;
    justify-content: flex-end;
    overflow: hidden;
    padding-top: 36px;
    position: relative;
}

.logo-wrapper {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    margin: auto;
    width: 95%;
}

.logo {
    margin: 0 auto;
}

.logo path {
    fill: $primary-dark !important;
}

.address {
    //border: 1px solid pink;
    /* margin-top: auto; */
    margin: auto;
    text-align: center;
    padding:4px 0;
    width: 90%;
    display: inline-block;
    white-space: nowrap;

    color: $primary-dark;
    font-family: 'Domine', serif;
    
    //font-size: .85rem;
    font-size: 3.9vw;
    letter-spacing: 1px;
    font-weight: bold;
}
/*
    .address {
        color: $primary-dark;
        font-family: 'Domine', serif;
        //font-size: 2.6rem;
        font-size: .85rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
*/
.section-1-bottom {
    display:flex;
    flex-flow: column;
    height: 60vh;
}

.section-1-bottom-cell {
    height: 33.33%;
    overflow: hidden;
    width: 100%;
}

.section-1-bottom-cell-1, 
.section-1-bottom-cell-3 {
    background-color: $primary-red;
}

.section-1-bottom-cell-2 {
    background-color: $primary-blue;
}

.bottom-cell-wrapper {
    border-width: 2px;
    border-style: solid;
    border-color: $white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding-top: 7px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}



/* GENERAL NOTICE */

.key-icon {
    height: auto;
    margin: 0 auto;
    width: 65px;
}

.general-lock-notice {
    font-family: 'Domine', serif;
    font-size: .9rem;
    text-align: center;
    width: 95%;
    color: $white;
    transition: all .5s ease-out;
        &:hover {
            @include hover-scale;
        }
    }

/* NO AUTO */

.no-car-icon {
    //display: block;
    margin: 0 auto;
    width: 40px;
}

.no-auto {
    color: $white;
    font-family: 'Domine';
    //font-size: 1.8rem;
    display: block;
}

/* GUNSMITH */
.antique-gun {
    //width: 270px;
    width: 145px;
}

.gunsmith-link, .gunsmith-link > h3 {
    color: $white;
    font-family: 'Artist-Modern', sans-serif;
    font-size: 4.5rem;
    display: block;
    
        &:hover {
            @include hover-scale;
        }
    }

.gunsmith-hand {
    display: none;
    margin: 1rem auto 0 auto;
    width: 55px;
}

@media (min-width: 430px) {
    .logo-wrapper {
        width: 92.5%;
    }
    .address {
        font-size: 2.5vw;
    }
}

@media (min-width: 540px) {
    .logo-wrapper {
        width: 82.5%;
    }
    .address {
        font-size: 2.6vw;
    }
}

@media (min-width: 650px) {
    
    .logo-wrapper {
        width: 70%;
    }

    .address {
        font-size: 2vw;
    }
}
#about_us:hover {
	cursor: pointer;
}
@media (min-width: 768px) {
    .section-1-top {
        height:60vh;
        justify-content: center;
    }

    .logo-wrapper {
        width: 85%;
    }

    .section-1-bottom {
        flex-flow: row;
        height: 40vh;
    }

    .section-1-bottom-cell {
        height: 100%;
    }

    .bottom-cell-wrapper {
        padding-top: 5%;
        justify-content: flex-start;
    }

    .section-1-bottom-cell-1,
    .section-1-bottom-cell-3 {
        width: 40%;
    }
    
    .section-1-bottom-cell-2 {
        width: 20%;
    }
    
    .key-icon {
        width: 170px;
    }

    .gunsmith-hand {
        display: block;
    }


    .general-lock-notice, .no-auto {
        font-size: 1.5rem;
    }

    .no-car-icon {
        width: 70px;
    }

    .no-auto span { display: block; }
    
    .antique-gun {
        width: 270px;
    }

    .gunsmith-link {
        font-size: 4.5rem;
    }

}
@media (min-width: 992px) {
    .logo-wrapper {
        width: 67.5%;
    }
    
}
@media (min-width: 1200px) {
    .logo-wrapper {
        max-width: 827px;
    }
    .address {
        font-size: 1.5rem;
    }
}