@charset "UTF-8";

.section {
    overflow:hidden;
    .container {
        height: 100%;
        position: relative
    }

}

.section-title {
    font-family: 'Domine', serif;
    margin: 1rem 0 0;
	position: absolute;
	//top: 8.5%;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}