@charset "UTF-8";

.section {
    overflow:hidden;
    .container {
        height: 100%;
        position: relative
    }
}

.section-title {
    font-family: 'Domine', serif;
    margin: 1rem 0;
	position: relative;
    text-align: center;
    width: 100%;
	white-space: nowrap;
}