@charset "utf-8";

.header {
	background-color: $drkBrown; 
    color: #ffffef;
    height: 36px;
    line-height: 30px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;

    a {
    	color: inherit;
    }
}

.header span {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Domine', serif;
}
