@import url(../node_modules/normalize.css/normalize.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../node_modules/fullpage.js/jquery.fullPage.css);
@import url(../node_modules/google-places-data/google-places.css);
/* RGB code: R: 252 G: 194 B: 4 */
@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

header, .fullpage-wrapper {
  max-width: 1350px;
}

.fullpage-wrapper {
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}

@media all and (min-width: 600px) {
  html {
    font-size: 32px;
  }
}

button, input, textarea, select {
  outline: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

.section {
  overflow: hidden;
}

.section .container {
  height: 100%;
  position: relative;
}

.section-title {
  font-family: 'Domine', serif;
  margin: 1rem 0 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: calc((100% - 60px) / 2 + 60px);
  left: 20px;
  list-style-type: none;
  transform: translateY(-50%);
}

.menu li {
  width: 10px;
  height: 10px;
  background-color: #ff7f00;
  border-radius: 50%;
  margin-bottom: 30px;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li.active {
  background-color: transparent;
  border: 2px solid #ff7f00;
}

.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-next {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.btn-next i {
  font-size: 48px;
}

/* CLARENDON ALT */
/* font-family: 'Domine', serif; */
@font-face {
  font-family: 'Artist-Modern';
  src: url("../fonts/Artist-Modern.ttf.woff") format("woff"), url("../fonts/Artist-Modern.ttf.svg#Artist-Modern") format("svg"), url("../fonts/Artist-Modern.ttf.eot"), url("../fonts/Artist-Modern.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/*
 * Modular Scale and Typi Mappings
 */
/* Modular Scale */
/* Typi */
html {
  font-size: 100%;
  line-height: 1.5;
}

body,
p {
  font-size: 75%;
  line-height: 1.4;
  font-family: 'Domine', serif;
}

@media all and (min-width: 576px) {
  body,
  p {
    font-size: 75%;
    line-height: 1.4;
  }
}

@media all and (min-width: 768px) {
  body,
  p {
    font-size: 87.5%;
    line-height: 1.3;
  }
}

@media all and (min-width: 992px) {
  body,
  p {
    font-size: 100%;
    line-height: 1.3;
  }
}

li {
  font-size: 1rem;
  line-height: 1.3;
}

@media all and (min-width: 576px) {
  li {
    font-size: 1rem;
    line-height: 1.3;
  }
}

@media all and (min-width: 768px) {
  li {
    font-size: 1.16667rem;
    line-height: 1.3;
  }
}

@media all and (min-width: 992px) {
  li {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.37037rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h1 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 3.16049rem;
    line-height: 1.25;
  }
}

@media all and (min-width: 992px) {
  h1 {
    font-size: 4.21399rem;
    line-height: 1.25;
  }
}

h2 {
  font-size: 1.77778rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h2 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h2 {
    font-size: 3.16049rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 992px) {
  h2 {
    font-size: 4.21399rem;
    line-height: 1.2;
  }
}

h3 {
  font-size: 1.33333rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h3 {
    font-size: 1.77778rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h3 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 992px) {
  h3 {
    font-size: 3.16049rem;
    line-height: 1.2;
  }
}

h4 {
  font-size: 1rem;
  line-height: 1.1;
}

@media all and (min-width: 576px) {
  h4 {
    font-size: 1.33333rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 768px) {
  h4 {
    font-size: 1.77778rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 992px) {
  h4 {
    font-size: 2.37037rem;
    line-height: 1.1;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 1.4;
}

@media all and (min-width: 576px) {
  h5 {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media all and (min-width: 768px) {
  h5 {
    font-size: 1.33333rem;
    line-height: 1;
  }
}

@media all and (min-width: 992px) {
  h5 {
    font-size: 1.77778rem;
    line-height: 1;
  }
}

h6 {
  font-size: 0.5625rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h6 {
    font-size: 0.75rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h6 {
    font-size: 1rem;
    line-height: 1;
  }
}

@media all and (min-width: 992px) {
  h6 {
    font-size: 1.33333rem;
    line-height: 1;
  }
}

.header {
  background-color: #594335;
  color: #ffffef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 36px;
  line-height: 30px;
  padding: 0 10px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.header a {
  color: inherit;
}

.header span {
  font-size: .6rem;
  font-weight: 400;
  font-family: 'Domine', serif;
}

@media (min-width: 526px) {
  .header span {
    font-size: .75rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 20px;
  }
  .header span {
    font-size: .85rem;
  }
}

@media (min-width: 992px) {
  .header span {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .header span {
    font-size: 1.25rem;
  }
}

.section-1 {
  background-color: #f5f4d6;
  padding-top: 0 !important;
}

.section-1-top {
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  overflow: hidden;
  padding-top: 36px;
  position: relative;
}

.logo-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  -ms-flex-align: center;
      align-items: center;
  margin: auto;
  width: 95%;
}

.logo {
  margin: 0 auto;
}

.logo path {
  fill: #594335 !important;
}

.address {
  /* margin-top: auto; */
  margin: auto;
  text-align: center;
  padding: 4px 0;
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  color: #594335;
  font-family: 'Domine', serif;
  font-size: 3.9vw;
  letter-spacing: 1px;
  font-weight: bold;
}

/*
    .address {
        color: $primary-dark;
        font-family: 'Domine', serif;
        //font-size: 2.6rem;
        font-size: .85rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
*/
.section-1-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  height: 60vh;
}

.section-1-bottom-cell {
  height: 33.33%;
  overflow: hidden;
  width: 100%;
}

.section-1-bottom-cell-1,
.section-1-bottom-cell-3 {
  background-color: #9c3c46;
}

.section-1-bottom-cell-2 {
  background-color: #0088a7;
}

.bottom-cell-wrapper {
  border-width: 2px;
  border-style: solid;
  border-color: #ffffef;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 7px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

/*
.bottom-cell-wrapper-2 {
    padding-bottom: .85rem;
} */
/* GENERAL NOTICE */
.key-icon {
  height: auto;
  margin: 0 auto;
  width: 65px;
}

.general-lock-notice {
  color: #ffffef;
  font-family: 'Domine', serif;
  font-size: .9rem;
  text-align: center;
  width: 95%;
}

/* NO AUTO */
.no-car-icon {
  margin: 0 auto;
  width: 40px;
}

.no-auto {
  color: #ffffef;
  font-family: 'Domine';
  display: block;
}

/* GUNSMITH */
.antique-gun {
  width: 145px;
}

.gunsmith-link {
  color: #ffffef;
  font-family: 'Artist-Modern', sans-serif;
  font-size: 3rem;
}

.gunsmith-link a {
  color: #ffffef;
}

.gunsmith-hand-link {
  border: 0px solid red;
}

.gunsmith-hand {
  display: none;
  margin-top: 1rem;
  width: 55px;
}

@media (min-width: 430px) {
  .logo-wrapper {
    width: 92.5%;
  }
  .address {
    font-size: 2.5vw;
  }
}

@media (min-width: 540px) {
  .logo-wrapper {
    width: 82.5%;
  }
  .address {
    font-size: 2.6vw;
  }
}

@media (min-width: 650px) {
  .logo-wrapper {
    width: 70%;
  }
  .address {
    font-size: 2vw;
  }
}

@media (min-width: 768px) {
  .section-1-top {
    height: 60vh;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .logo-wrapper {
    width: 85%;
  }
  .section-1-bottom {
    -ms-flex-flow: row;
        flex-flow: row;
    height: 40vh;
  }
  .section-1-bottom-cell {
    height: 100%;
  }
  .bottom-cell-wrapper {
    padding-top: 5%;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .section-1-bottom-cell-1,
  .section-1-bottom-cell-3 {
    width: 40%;
  }
  .section-1-bottom-cell-2 {
    width: 20%;
  }
  .key-icon {
    width: 170px;
  }
  .general-lock-notice, .no-auto {
    font-size: 1.6rem;
  }
  .no-car-icon {
    width: 70px;
  }
  .no-auto span {
    display: block;
  }
  .antique-gun {
    width: 270px;
  }
  .gunsmith-link {
    font-size: 4.5rem;
  }
}

@media (min-width: 992px) {
  .logo-wrapper {
    width: 67.5%;
  }
}

@media (min-width: 1200px) {
  .logo-wrapper {
    max-width: 827px;
  }
  .address {
    font-size: 1.5rem;
  }
}

.section-2 {
  background-color: #f5f4d6;
}

.services__title {
  color: #594335;
}

.services__list {
  list-style-image: url("../images/checkmark.svg");
  position: relative;
  top: 17.5%;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  width: 80%;
}

.services__list li {
  color: #594335;
  font-family: 'Domine', serif;
  margin-bottom: .5rem;
}

@media (min-width: 768px) {
  .services__list li {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .services__list li {
    margin-bottom: 1.75rem;
  }
}

.section-3 {
  background-color: #594335;
  color: #ffffef;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.container {
  padding-top: .001em;
}

.about__title {
  color: #ffffef;
  top: 0%;
}

.about__main {
  border: 2px solid #ffffef;
  display: block;
  margin: 12.5% auto 5% auto;
  width: 90%;
}

.section-3 p {
  margin: 0 auto 20px auto;
  width: 90%;
}

@media (min-width: 414px) and (orientation: portrait) {
  .about__main {
    width: 80%;
  }
}

@media (min-width: 576px) {
  .about__main {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .about__main {
    float: left;
    width: 45%;
    margin-right: 1rem;
  }
  .section-3 p:first-of-type {
    margin-top: 12.5%;
  }
  .section-3 p {
    width: auto;
  }
}

/* TEMP! TEMP! */
.section-4 {
  background-color: #0088a7;
  color: #ffffef;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.customer__title {
  color: #ffffef;
}

.section-4 h2.animated-item + a {
  border: 0px solid red;
  color: #ff7f00;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  margin-top: 22.5%;
  transform: translateX(-50%);
  font-weight: bold;
  text-transform: uppercase;
}

.customer__reviews-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
}

/*img*/
.google_review_user {
  border: 6px solid #FCC204;
  border-radius: 50%;
  position: absolute;
  top: .5rem;
  left: .75rem;
  transform: scale(0.85);
  transform-origin: top left;
}

.review-item {
  border: 2px solid #fefeff;
  border-radius: 6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin: 0;
  padding: .5rem .75% 1rem .75rem;
  position: relative;
  width: 100%;
}

.review-meta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin-left: auto;
  width: 72%;
}

.review-meta span {
  text-align: right;
}

.review-author {
  float: right;
  font-size: 1.65rem;
  white-space: normal;
}

.review-sep {
  display: none;
}

.review-date {
  font-size: 1.25rem;
}

.review-stars ul {
  list-style-type: none;
  text-align: right;
}

.review-stars ul li {
  display: inline-block;
  margin-left: 6px;
}

p.review-text {
  color: #ffffef;
  font-size: 1.2rem;
  line-height: 1.6;
  width: 100%;
}

.star:before {
  content: "\f005";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.star {
  color: #FCC204;
}

#schema {
  clear: both;
  font-size: 1rem;
  position: absolute;
  bottom: 1%;
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .customer__reviews-wrapper > div:nth-of-type(3),
  .customer__reviews-wrapper > div:nth-of-type(4) {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .customer__reviews-wrapper > div:nth-of-type(4) {
    display: none;
  }
  .review-item {
    margin: 0 10px;
    width: 50%;
  }
}

@media (min-width: 601px) {
  .section-4 h2.animated-item + a {
    margin-top: 12.5%;
  }
  /*img*/
  .google_review_user {
    transform: scale(0.675);
  }
  .customer__reviews-wrapper {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .review-author {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  /*img*/
  .google_review_user {
    transform: scale(0.85);
  }
  .review-author {
    font-size: 1.65rem;
  }
}

@media (min-width: 992px) {
  .section-4 h2.animated-item + a {
    margin-top: 9%;
  }
  /*img*/
  .google_review_user {
    transform: scale(0.65);
  }
  .review-item {
    margin: 0 10px;
    width: 33.33%;
  }
}

@media (min-width: 1024px) {
  /*img*/
  .google_review_user {
    transform: scale(0.8);
  }
}

.section-5 {
  background-color: #f5f4d6;
  padding-top: 0 !important;
  color: #594335;
}

.section-5 h2.animated-item + a {
  border: 0px solid red;
  color: #ff7f00;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  margin-top: 22.5%;
  transform: translateX(-50%);
  font-weight: bold;
  text-transform: uppercase;
}
