@import url(../node_modules/normalize.css/normalize.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../node_modules/fullpage.js/jquery.fullPage.css);
@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header, .fullpage-wrapper {
  max-width: 1350px;
}

.fullpage-wrapper {
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}

@media all and (min-width: 600px) {
  html {
    font-size: 32px;
  }
}

button, input, textarea, select {
  outline: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

.section {
  overflow: hidden;
}

.section .container {
  height: 100%;
  position: relative;
}

.section-title {
  font-family: 'Domine', serif;
  margin: 0;
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: calc((100% - 60px) / 2 + 60px);
  left: 20px;
  list-style-type: none;
  transform: translateY(-50%);
}

.menu li {
  width: 10px;
  height: 10px;
  background-color: #594335;
  border-radius: 50%;
  margin-bottom: 30px;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li.active {
  background-color: transparent;
  border: 2px solid #594335;
}

.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-next {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.btn-next i {
  font-size: 48px;
}

/* CLARENDON ALT */
/* font-family: 'Domine', serif; */
@font-face {
  font-family: 'Artist-Modern';
  src: url("../fonts/Artist-Modern.ttf.woff") format("woff"), url("../fonts/Artist-Modern.ttf.svg#Artist-Modern") format("svg"), url("../fonts/Artist-Modern.ttf.eot"), url("../fonts/Artist-Modern.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/*
 * Modular Scale and Typi Mappings
 */
/* Modular Scale */
/* Typi */
html {
  font-size: 100%;
  line-height: 1.5;
}

body,
p {
  font-size: 75%;
  line-height: 1.3;
  font-family: 'Domine', serif;
}

@media all and (min-width: 576px) {
  body,
  p {
    font-size: 75%;
    line-height: 1.3;
  }
}

@media all and (min-width: 768px) {
  body,
  p {
    font-size: 81.25%;
    line-height: 1.3;
  }
}

@media all and (min-width: 992px) {
  body,
  p {
    font-size: 87.5%;
    line-height: 1.3;
  }
}

li {
  font-size: 1.33333rem;
  line-height: 1.3;
}

@media all and (min-width: 576px) {
  li {
    font-size: 1.33333rem;
    line-height: 1.3;
  }
}

@media all and (min-width: 768px) {
  li {
    font-size: 1.41667rem;
    line-height: 1.3;
  }
}

@media all and (min-width: 992px) {
  li {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.37037rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h1 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 3.16049rem;
    line-height: 1.25;
  }
}

@media all and (min-width: 992px) {
  h1 {
    font-size: 4.21399rem;
    line-height: 1.25;
  }
}

h2 {
  font-size: 1.77778rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h2 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h2 {
    font-size: 3.16049rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 992px) {
  h2 {
    font-size: 4.21399rem;
    line-height: 1.2;
  }
}

h3 {
  font-size: 1.33333rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h3 {
    font-size: 1.77778rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h3 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 992px) {
  h3 {
    font-size: 3.16049rem;
    line-height: 1.2;
  }
}

h4 {
  font-size: 1rem;
  line-height: 1.1;
}

@media all and (min-width: 576px) {
  h4 {
    font-size: 1.33333rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 768px) {
  h4 {
    font-size: 1.77778rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 992px) {
  h4 {
    font-size: 2.37037rem;
    line-height: 1.1;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 1.4;
}

@media all and (min-width: 576px) {
  h5 {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media all and (min-width: 768px) {
  h5 {
    font-size: 1.33333rem;
    line-height: 1;
  }
}

@media all and (min-width: 992px) {
  h5 {
    font-size: 1.77778rem;
    line-height: 1;
  }
}

h6 {
  font-size: 0.5625rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h6 {
    font-size: 0.75rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h6 {
    font-size: 1rem;
    line-height: 1;
  }
}

@media all and (min-width: 992px) {
  h6 {
    font-size: 1.33333rem;
    line-height: 1;
  }
}

.header {
  background-color: #594335;
  color: #ffffef;
  height: 36px;
  line-height: 30px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header a {
  color: inherit;
}

.header span {
  font-size: .65rem;
  font-weight: 400;
  font-family: 'Domine', serif;
}

.section-1 {
  background-color: #f5f4d6;
  padding-top: 0 !important;
}

.section-1-top {
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  overflow: hidden;
  padding-top: 36px;
  position: relative;
}

.logo-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  -ms-flex-align: center;
      align-items: center;
  margin: auto;
  width: 95%;
}

.logo {
  margin: 0 auto;
}

.logo path {
  fill: #594335 !important;
}

.address {
  border: 1px solid pink;
  /* margin-top: auto; */
  margin: auto;
  text-align: center;
  padding: 4px 0;
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  color: #594335;
  font-family: 'Domine', serif;
  font-size: 3.9vw;
  letter-spacing: 1px;
  font-weight: bold;
}

/*
    .address {
        color: $primary-dark;
        font-family: 'Domine', serif;
        //font-size: 2.6rem;
        font-size: .85rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
*/
.section-1-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  height: 60vh;
}

.section-1-bottom-cell {
  height: 33.33%;
  overflow: hidden;
  width: 100%;
}

.section-1-bottom-cell-1,
.section-1-bottom-cell-3 {
  background-color: #9c3c46;
}

.section-1-bottom-cell-2 {
  background-color: #0088a7;
}

.bottom-cell-wrapper {
  border-width: 2px;
  border-style: solid;
  border-color: #ffffef;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-top: 7px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

/*
.bottom-cell-wrapper-2 {
    padding-bottom: .85rem;
} */
/* GENERAL NOTICE */
.key-icon {
  height: auto;
  margin: 0 auto;
  width: 65px;
}

.general-lock-notice {
  color: #ffffef;
  font-family: 'Domine', serif;
  font-size: .9rem;
  text-align: center;
  width: 95%;
}

/* NO AUTO */
.no-car-icon {
  margin: 0 auto;
  width: 40px;
}

.no-auto {
  color: #ffffef;
  font-family: 'Domine';
  display: block;
}

/* GUNSMITH */
.antique-gun {
  width: 145px;
}

.gunsmith-link {
  color: #ffffef;
  font-family: 'Artist-Modern', sans-serif;
  font-size: 3.5rem;
}

.gunsmith-link a {
  color: #ffffef;
}

.gunsmith-hand-link {
  border: 0px solid red;
}

.gunsmith-hand {
  width: 55px;
  margin-top: 1rem;
}

@media (min-width: 430px) {
  .logo-wrapper {
    width: 95%;
  }
  .address {
    font-size: 2.6vw;
  }
}

@media (min-width: 540px) {
  .logo-wrapper {
    width: 82.5%;
  }
  .address {
    font-size: 2.6vw;
  }
}

@media (min-width: 650px) {
  .logo-wrapper {
    width: 70%;
  }
  .address {
    font-size: 2vw;
  }
}

@media (min-width: 768px) {
  .section-1-top {
    height: 60vh;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .logo-wrapper {
    width: 85%;
  }
  .section-1-bottom {
    -ms-flex-flow: row;
        flex-flow: row;
    height: 40vh;
  }
  .section-1-bottom-cell {
    height: 100%;
  }
  .bottom-cell-wrapper {
    padding-top: 5%;
  }
  .section-1-bottom-cell-1,
  .section-1-bottom-cell-3 {
    width: 40%;
  }
  .section-1-bottom-cell-2 {
    width: 20%;
  }
  .key-icon {
    width: 170px;
  }
  .general-lock-notice, .no-auto {
    font-size: 1.6rem;
  }
  .no-car-icon {
    width: 70px;
  }
  .no-auto span {
    display: block;
  }
  .antique-gun {
    width: 270px;
  }
  .gunsmith-link {
    font-size: 4.5rem;
  }
}

@media (min-width: 992px) {
  .logo-wrapper {
    width: 67.5%;
  }
}

@media (min-width: 1200px) {
  .logo-wrapper {
    max-width: 827px;
  }
  .address {
    font-size: 1.5rem;
  }
}

.section-2 {
  background-color: #f5f4d6;
}

.services__title {
  color: #594335;
}

.services__list {
  list-style-image: url("../images/checkmark.svg");
  position: relative;
  top: 17.5%;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.services__list li {
  color: #594335;
  font-family: 'Domine', serif;
  margin-bottom: 1.25rem;
}

.section-3 {
  background-color: #0088a7;
  color: #ffffef;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.customer__title {
  color: #ffffef;
}

.customer__reviews-wrapper {
  margin-top: 2rem;
  position: relative;
  top: 17.5%;
}

.customer__review {
  border: 2px solid #ffffef;
  border-radius: 6px;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.customer__headshot-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
}

.customer__headshot {
  width: 25%;
}

.customer__pic {
  width: 100%;
}

.customer__name {
  font-size: 1.4rem;
  width: 75%;
}

.customer__stars-wrapper {
  height: 30px;
  overflow: none;
}

.customer__stars {
  width: 40%;
  height: 30%;
}
